.brown {
    background-color: #321c09;
}

.yellow {
    background-color: #f0ad4e;
}

.text-gold {
    color: #f0ad4e;
}

.text-brown {
    color: #321c09;
}

.page-link {
    margin: 0 5px;
}

.page-link:hover {
    text-decoration: none;
    color: #eea236;
}

.wrapper {
    min-height: 100vh;
    /* position: relative; */
    background-color: #f0d6a7;
    padding-bottom: 100px;
}

.authenticate-form {
     /* position: relative;  */
     /* top: 50%;  */
     /* left:50%;  */
     /* transform: translate(0, 10%);  */
    width: 40%;
    margin: 30px auto 0;
    padding: 30px 30px 15px;
    border-radius: 15px;
    border: 1px solid #eea236;
}

input[type="checkbox"] {
    width: 35px;
}

.authenticate-button {
    width: 20%;
}

.brown-btn:hover {
    color: #eea236;
}

.centered-form-group {
    text-align: center;
}

.error-field {
    color: #a94442;
}

.nav {
    border-radius: initial;
}

.panel > table.table > thead.table-head > tr > th {
    border: initial;
}

.panel > .panel-body + .table,
.panel > table.table > tbody.table-body > tr > td {
    border-color: #321c09;
}