{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
  Sign Up
{% endblock title %}

{% block content %}
    <form action="{% url 'sign_up' %}" method="POST" class="authenticate-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% for error in field.errors %}
                    <p class="error-field">{{ error }}</p>
                {% endfor %}
                {{ field|add_class:"form-control"}}
            </div>
        {% endfor %}
        <div class="form-group centered-form-group">
            <button type="submit" class="btn authenticate-button">Sign Up</button>
        </div>
    </form>
{% endblock %}
