{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Tasks
{% endblock title %}

{% block content %}
    <div class="row">
        <nav class="navbar nav brown text-gold">
            <div class="navbar-header">
                <span class="navbar-brand">Hello {{user.username}}</span>
            </div>
            <p class="navbar-text">You have only {{ tasks|length }} tasks</p>
        </nav>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
        {% for task in tasks %}
            <div class="panel text-brown yellow">
                <div class="panel-heading brown text-gold">{{task.name}}</div>
                <div class="panel-body">{{task.description}}</div>
                <table class="table">
                    <thead class="table-head">
                        <tr>
                            <th>Is complete</th>
                            <th>Deadline</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <tr>
                            <td>{{task.is_complete}}</td>
                            <td>{{task.deadline}}</td>
                        </tr>
                    </tbody>
                </table>   
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <a href="{% url 'add_task' %}" class="btn brown text-gold brown-btn">Add Task</a>
        </div>
    </div>
{% endblock content %}